#board {
    position: relative;
    background-color: aquamarine;
    height: 100vh;
}

.myself {
    position: absolute;
    background-color: blueviolet;
    height: 10vh;
    width: 12vh;
    border-radius: 30%;
}

.deadline {
    position: absolute;
    background-color: black;
    height: 10vh;
    width: 20vh;
    border-radius: 12%;
}