html {
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#board {
    position: relative;
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.myself {
    position: absolute;
    background-color: blueviolet;
    border-radius: 30%;
    background-image: url("../images/myself.jpg");
}

.deadline {
    position: absolute;
    background-color: black;
    border-radius: 12%;
    background-image: url("../images/deadline.jpg");
    border-style: dashed;
}

#game-over-page {
    height: 100vh;
    background-image: url("../images/pow.png");
    background-position: center;
    background-repeat: no-repeat;
}

#win-page {
    height: 100vh;
    background-image: url("../images/arthur-dancing.gif");
    background-repeat: repeat;
}

#instructions {
    background-color: pink;
    height: 100vh;
}

#instructions h1 {
    font-size: 50px;
    text-align: center;
    padding: 150px;
}

#instructions button {
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: aquamarine;
    padding: 15px 32px;
    text-align: center;
    font-size: 30px;
    margin: 10px 20px 20px 600px;
    cursor: pointer;
}

#game-over-page button {
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: hsl(61, 85%, 47%);
    padding: 15px 32px;
    font-size: 30px;
    box-shadow: 5px 10px hsl(224, 87%, 50%);
    cursor: pointer;
}

#win-page button {
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(236, 215, 20);
    padding: 15px 32px;
    font-size: 30px;
    box-shadow: 5px 10px #2bcf15;
    cursor: pointer;
}