#board {
    position: relative;
    background-color: aquamarine;
    height: 100vh;
}

.myself {
    position: absolute;
    background-color: blueviolet;
    border-radius: 30%;
    background-image: url("../images/myself.jpg");
}

.deadline {
    position: absolute;
    background-color: black;
    border-radius: 12%;
    background-image: url("../images/deadline.jpg");
    /*overflow: hidden;*/
}

.hidden {
    display: none
}